[Unit]
Description=Kanata
StartLimitBurst=0
StartLimitIntervalSec=0

[Service]
ExecStart=env fish -c "kanata --cfg %h/.config/kanata/kanata.kbd"
Restart=always
Type=simple

[Install]
WantedBy=graphical-session.target
