include "input.kdl"

include "dms/binds.kdl"
include "dms/windowrules.kdl"
include "dms/layout.kdl"

include "layout.kdl"
include "options.kdl"

include "dms/cursor.kdl"
include "dms/alttab.kdl"
include "dms/outputs.kdl"
