layout {
    gaps 16
    background-color "transparent"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 1.0; }

    border {
        on
        width 3
        active-color "#89b4fa"
        // active-gradient from="#89b4fa" to="#cba6f7" angle=45
        inactive-color "#6c7086"
        urgent-color "#f38ba8"
    }

    focus-ring {
        off
    }
}

workspace "terminal" {}

workspace "discord" {}

workspace "browser" {}

workspace "game" {}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=32 y=32 relative-to="top-right"
    open-focused false
}

window-rule {
    match app-id="foot" at-startup=true
    open-on-workspace "terminal"
}

window-rule {
    match app-id="equibop"
    match app-id="discord"
    open-on-workspace "discord"
}

window-rule {
    match app-id="firefox"
    open-on-workspace "browser"
}

window-rule {
    match app-id="Minecraft"
    match app-id="Hytale"
    match app-id="prismlauncher"
    match app-id="lunarclient"
    match app-id="Lunar Client"
    open-on-workspace "game"
}

window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

layer-rule {
    match namespace="^notifications$"
    block-out-from "screencast"
}

layer-rule {
    match namespace="awww-daemon"
    place-within-backdrop true
}
