prefer-no-csd

spawn-at-startup "firefox"
spawn-at-startup "foot"
spawn-at-startup "~/dotfiles/scripts/internal/startup.sh"

environment {
    TERMINAL "foot"
    TERM "foot"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt5ct"
    EDITOR "nvim"
    VISUAL "nvim"
    BROWSER "firefox"
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


overview {
    workspace-shadow {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 20

    hide-when-typing
    hide-after-inactive-ms 1000
}

debug {
  honor-xdg-activation-with-invalid-serial
}


output "HDMI-A-2" {
    // off
    mode "1920x1080@74.973"
    scale 1.0
    transform "normal"
    focus-at-startup
}

output "eDP-1" {
    off
}
