/**
 * @name Clean up
*/

/**
 * @name Clean user panel
*/

@import url(https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css);

/**
 * @name Font change
*/

:root {
  --font-display: "Inter" !important;
  --font-primary: "Inter" !important;
  --font-code: "JetBrainsMono Nerd Font" !important;
}

/**
 * @name Clean input box
*/

.buttons__74017 {
  display: none !important;
}

/**
 * @name Make space for narrow windows
*/

@media (max-width: 1100px) {
  [class$="sidebar"] {
    width: 200px;

    .vc-typing-indicator,
    .vc-channelemojis-emoji,
    [class$="guildIconV2Container"] {
      display: none;
    }

    [class$="containerDefault"] {
      [role="img"] {
        display: none;
      }
    }
  }

  [class$="chat"] {
    [class$="container"]:has(> [class*="-membersWrap"]) {
      display: none;
    }
  }

  [class$="channelTextArea"] [class$="buttons"] {
    display: none !important;
  }
}
